@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

::selection {
  background-color: transparent;
  color: #da3b85; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Lora", serif;
  color: #000;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: min-content 90vh repeat(3, min-content) minmax(250px, 1fr);
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end]; }

.section-text {
  margin-top: 3rem;
  grid-column: full-start / full-end;
  text-align: center; }
  .section-text-opinions {
    overflow: hidden;
    font-family: "Catamaran", sans-serif; }
    .section-text-opinions--slider {
      display: flex;
      transition: transform 0.5s ease-in;
      margin: 9rem 9rem 9rem 0; }
      .section-text-opinions--slider .opinions {
        min-width: 35%;
        margin-right: 15px;
        font-size: 1.85rem;
        padding: 4rem;
        font-weight: 400;
        position: relative; }
        .section-text-opinions--slider .opinions::before {
          content: '\201C ';
          font-size: 25rem;
          position: absolute;
          top: -8rem;
          left: 20rem;
          color: #e6e6e6;
          z-index: -1; }
        .section-text-opinions--slider .opinions q {
          color: #6c757d; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Catamaran", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #373b4d; }

.heading-3 {
  font-size: 1.6rem;
  color: #eeb4c7;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2.1rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #373b4d; }

.btn {
  background-color: #da3b85;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Catamaran", sans-serif;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
  transition: all .2s;
  width: 40%;
  text-align: center; }
  .btn--pink {
    font-weight: 700; }
  .btn:hover {
    background-color: #d0879f; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.svg-wave {
  position: absolute;
  bottom: -20rem; }

.background-image {
  grid-column: full-start / full-end;
  position: relative; }
  .background-image img {
    object-fit: cover;
    height: 500px;
    width: 100%; }
  .background-image--text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f9f7f6;
    backdrop-filter: blur(3px);
    padding: 4rem;
    border-radius: 7px;
    text-align: center; }
    .background-image--text h3 {
      font-size: 3.5rem; }
    .background-image--text p {
      font-size: 4rem; }

.social-media {
  grid-column: full-start / full-end;
  width: 50%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 10rem auto 0;
  padding: 2rem; }
  .social-media div {
    display: block; }
  .social-media-img {
    transition: opacity .2s ease-in; }
    .social-media-img:hover {
      opacity: .7; }

.rights {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  align-items: center;
  font-size: 1.5rem; }

.reservation {
  grid-column: center-start / center-end;
  margin-bottom: 12rem; }

.navigation {
  background-color: #eeb4c7;
  grid-column: full-start / full-end;
  grid-row: 1;
  z-index: 50;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  transition: background-color 0.3s;
  background-color: transparent; }
  .navigation__checkbox {
    opacity: 0; }
    .navigation__checkbox:checked + .navigation__button > span {
      transform: rotate(45deg); }
    .navigation__checkbox:checked + .navigation__button > span::before {
      top: 0;
      transform: rotate(0deg); }
    .navigation__checkbox:checked + .navigation__button > span::after {
      top: 0;
      transform: rotate(90deg); }
    .navigation__checkbox:checked ~ .menu__box {
      left: 0 !important; }
  .navigation__button {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 5;
    color: #fff;
    display: none; }
    .navigation__button > span,
    .navigation__button > span::before,
    .navigation__button > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #f9f7f6;
      transition-duration: .25s; }
    .navigation__button > span::before {
      content: '';
      top: -8px; }
    .navigation__button > span::after {
      content: '';
      top: 8px; }
  .navigation__nav {
    display: flex;
    justify-content: end;
    width: 90%;
    padding: 2rem; }
  .navigation__list {
    display: flex;
    flex-direction: row; }
  .navigation__item {
    display: block;
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600; }
    .navigation__item a {
      text-decoration: none;
      color: #fff;
      transition-duration: .25s; }
      .navigation__item a:hover {
        color: #da3b85; }

.navigation.sticky {
  background-color: #d0879fdb;
  color: #fff; }

.header {
  background-color: #eeb4c7;
  overflow: visible;
  position: relative;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: 1fr max-content repeat(6, 1fr);
  grid-template-rows: 1fr min-content min-content minmax(6rem, min-content) 5rem;
  grid-row-gap: 2.5rem;
  padding: 4rem;
  justify-content: start; }
  .header__text-box {
    padding: 5rem; }
  .header .heading--main,
  .header .heading--sub {
    color: #fff;
    grid-column: 2 / 3;
    align-self: center; }
  .header .heading--main {
    font-size: 6.4rem;
    line-height: 1.5;
    letter-spacing: 0;
    grid-row: 2 / 3; }
  .header .btn--pink {
    align-self: center;
    justify-self: start;
    line-height: 1rem;
    grid-column: 2 / 3;
    grid-row: 4 / 5; }
  .header .heading--sub {
    font-size: 2rem;
    grid-row: 3 / 4; }
  .header__image {
    max-width: 100%;
    grid-column: 4 / span 5;
    grid-row: 1 / -1;
    z-index: 2; }
    .header__image img {
      width: 100%; }

.about--photo,
.about--text {
  margin-top: 8rem; }

.about--photo {
  grid-column: center-start / col-start 4;
  background-color: #fff;
  align-self: center; }
  .about--photo--img {
    max-width: 100%;
    width: 90%; }

.about--text {
  grid-column: col-end 3 / -1;
  background-color: #fff; }
  .about--text--container {
    padding: 12rem 10rem 10rem 3rem; }
    .about--text--container--h3 {
      color: #8e8987;
      text-transform: uppercase;
      font-size: 1.6rem;
      font-weight: 700;
      letter-spacing: .25rem;
      margin-bottom: 2rem; }
    .about--text--container--h2 {
      font-size: 5.1rem;
      color: #373b4d;
      font-weight: 600; }
    .about--text--container--p, .about--text--container--list {
      font-size: 1.9rem;
      margin-bottom: 1rem;
      font-family: "Catamaran", sans-serif;
      color: #6c757d;
      font-weight: 400; }

.discounts {
  grid-column: center-start / center-end;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(4, minmax(5rem, 1fr));
  grid-template-rows: repeat(2, min-content);
  margin-bottom: 12rem; }
  .discounts--img-1, .discounts--img-2, .discounts--img-3 {
    max-width: 100%;
    height: 100%; }
  .discounts__text h2, .discounts__text-1 h2 {
    font-size: 3.5rem; }
  .discounts__text h3, .discounts__text-1 h3 {
    font-size: initial; }
  .discounts__image-container-1, .discounts__image-container-2, .discounts__image-container-3 {
    overflow: hidden; }
    .discounts__image-container-1 img, .discounts__image-container-2 img, .discounts__image-container-3 img {
      transition: transform 0.3s ease-in-out;
      transform: scale(1); }
      .discounts__image-container-1 img:hover, .discounts__image-container-2 img:hover, .discounts__image-container-3 img:hover {
        transform: scale(1.1); }
  .discounts__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .discounts__image-container-1 {
    grid-column: 1 / 2;
    grid-row: 2 / -1; }
  .discounts__image-container-2 {
    grid-column: 2 / 4;
    grid-row: 1 / -1; }
    .discounts__image-container-2 img {
      width: 100%;
      height: 55rem; }
  .discounts__image-container-3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2; }
    .discounts__image-container-3 img {
      object-fit: cover; }
  .discounts__text-1 {
    grid-column: 4 / 5;
    grid-row: 2 / 3; }

.gallery {
  grid-column: full-start / full-end;
  padding: 3rem;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3.5rem; }
  .gallery__image {
    width: 35rem;
    max-width: 100%;
    position: relative; }
    .gallery__image img {
      width: 100%;
      height: 250px;
      transition: all 400ms ease-in-out; }
    .gallery__image--description {
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 20;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: all 400ms ease-in-out; }
    .gallery__image--caption {
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: #f9f7f6;
      font-size: 2rem; }

.gallery__image:hover .gallery__image--description {
  opacity: 1;
  bottom: 0; }

.gallery__image:hover img {
  filter: blur(2px); }

.footer {
  grid-column: full-start / full-end;
  padding: 5rem 8rem;
  display: flex;
  justify-content: space-between;
  color: #8e8987;
  font-family: "Catamaran", sans-serif;
  background-color: #eeb4c7;
  align-items: center;
  color: #fff;
  position: relative; }
  .footer-svg-1 {
    position: absolute;
    bottom: 30rem;
    left: 0;
    z-index: -1; }
  .footer-svg-2 {
    position: absolute;
    top: 40rem;
    right: 0;
    z-index: -1; }
  .footer h5 {
    font-size: 4rem;
    font-weight: 300;
    color: #6c757d; }
  .footer__form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .footer__form--text {
      padding: 2rem 0;
      font-size: 1.3rem;
      width: 50%; }
    .footer__form input, .footer__form button {
      vertical-align: middle; }
    .footer__form input[type="email"] {
      height: 54px;
      width: 20rem;
      color: #6c757d;
      font-size: 1.1rem;
      padding: 0 2rem;
      position: relative;
      outline: none;
      border: none;
      color: #da3b85; }
      .footer__form input[type="email"]:focus, .footer__form input[type="email"]:active {
        outline: none; }
    .footer__form button[type="submit"] {
      height: 54px;
      color: #f9f7f6;
      background-color: #da3b85;
      border-color: #da3b85;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 13px 34px 10px;
      border: 1px solid transparent; }
  .footer__contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%; }
    .footer__contact--address {
      font-size: 2rem;
      margin: 1rem 0; }
