.footer {
    grid-column: full-start / full-end;
    padding: 5rem 8rem;
    display: flex;
    justify-content: space-between;
    color: $color-grey-light-2;
    font-family: $font-display;
    background-color: $color-primary;
    align-items: center;
    color: $color-white;

    h5 {
        font-size: 4rem;
        font-weight: 300;
        color: $color-grey-light-3;
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        &--text {
            padding: 2rem 0;
            font-size: 1.3rem;
            width: 50%;
        }

        input, button {
            vertical-align: middle;
        }

        input[type="email"] {
            height: 54px;
            width: 20rem;
            color: $color-grey-light-3;
            font-size: 1.1rem;
            padding: 0 2rem;
            position: relative;
            outline: none;
            border: none;
            color: $color-primary-pink-dark;

            &:focus,
            &:active {
                outline: none;
            }
        }

        button[type="submit"] {
            height: 54px;
            color: $color-grey-light-1;
            background-color: $color-primary-pink-dark;
            border-color: $color-primary-pink-dark;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 13px 34px 10px;
            border: 1px solid transparent;
        }
    }

    &__contact {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        &--address {
            font-size: 2rem;
            margin: 1rem 0;
        }
    }
}