.header {
    background-color: $color-primary;
    overflow: visible;
    position: relative;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: 1fr max-content repeat(6, 1fr);
    grid-template-rows: 10rem min-content min-content minmax(6rem, min-content) 5rem;
    grid-row-gap: 2.5rem;
  
    padding: 4rem;

    justify-content: start;

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 10rem repeat(5, min-content);
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__text-box {
        padding: 5rem;
    }

    .heading--main,
    .heading--sub {
        color: $color-white;
        grid-column: 2 / 3;
        align-self: center;

        @media only screen and (max-width: $bp-small) {
            z-index: 2;
        }

        @media only screen and (max-width: $bp-large) {
            grid-row: 5 / 6;
        }
    }

    .heading--main {
        font-size: 6.4rem;
        line-height: 1.5;
        letter-spacing: 0;
        grid-row: 2 / 3;
        z-index: 2;
    }

    .btn--pink {
        align-self: center;
        justify-self: start;
        line-height: 1rem;
        grid-column: 2 / 3;
        grid-row: 4 / 5;
        max-height: 100%;
        z-index: 2;
    }

    .heading--sub {
        font-size: 2rem;
        grid-row: 3 / 4;
        z-index: 2;
    }

    &__image {
        max-width: 100%;
        grid-column: 4 / span 5;
        grid-row: 1 / -1;
        z-index: 2;
        position: absolute;
        bottom: -13rem;
        
        @media only screen and (max-width: $bp-largest) {
            bottom: -17rem;
        }
        @media only screen and (max-width: $bp-large) {
            transform: scale(1.4);
            bottom: -13rem;
        }
        @media only screen and (max-width: $bp-medium) {
            transform: scale(2);
            bottom: -5rem;
        }
        @media only screen and (max-width: 650px) {
            transform: scale(3);
            bottom: 4rem;
            right: -8rem;
            z-index: 1;
        }
        @media only screen and (max-width: $bp-small) {
            grid-column: 9 / 10;
            grid-row: 4 / -1;
            transform: scale(5);
            z-index: 1;
        }

        img {
            width: 100%;

            @media only screen and (max-width: $bp-small) {
                opacity: 0.85;
            }
        }
    }

}