.navigation {
    background-color: $color-primary;
    grid-column: full-start / full-end;
    grid-row: 1;


    z-index: 50;
    display: flex;
    justify-content: center;

    position: fixed;
    width: 100%;
    top: 0;
    transition: background-color 0.3s;
    background-color: transparent;

    &__checkbox {
        display: none;

        &:checked + .navigation__button > span {
            transform: rotate(45deg);
        }
        &:checked + .navigation__button > span::before {
            top: 0;
            transform: rotate(0deg);
        }
              
        &:checked + .navigation__button > span::after {
            top: 0;
            transform: rotate(90deg);
        }
              
        &:checked ~ .menu__box {
            left: 0 !important;
        }

        &:checked ~ .navigation__nav .navigation__list {
            display: flex;
            min-height: 100vh;
            background-color: #d0879fc0;
            padding-top: 10rem;
            transition: all 1.2s ease;
        }

        &:checked ~ .navigation__nav {
            width: 100%;
            height: 100%;
            padding: 0;
            top: 0;
            left: 0;
            opacity: 1;
            transition: all 1.2s ease;
        }
    }

    &__button {
        position: fixed;
        top: 30px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 100;
        color: $color-white;
        display: none;
        
        // @media only screen and (max-width: $bp-small) {
        //     display: block;
        // }
        @media only screen and (max-width: $bp-medium) {
            display: block;
        }


            & > span,
            & > span::before,
            & > span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $color-primary-pink-dark;
                transition-duration: .25s;
            }
        
            & > span::before {
                content: '';
                top: -8px;
            }
        
            & > span::after {
                content: '';
                top: 8px;
            }
    }

    &__nav {        
        display: flex;
        justify-content: end;
        width: 90%;
        padding: .5rem;
        position: relative;
        transition: all .8s ease;
        opacity: 1;

        @media only screen and (max-width: $bp-medium) {
            opacity: 0;
            right: -20rem;
            transition: all 1.2s ease;
        }
    }

    &__list {
        display: none;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 80;
        transition: all .5s ease-in;

        @media only screen and (min-width: $bp-medium) {
            display: flex;
            position: static;
            flex-direction: row;
            justify-content: end;
        }
    }

    &__item {
        display: block;
        padding: 12px 24px;
        font-family: 'Roboto', sans-serif;
        font-size: 2.8rem;
        font-weight: 600;
        

        @media only screen and (min-width: $bp-medium) {
            font-size: 2.2rem;
        }

        a {
            text-decoration: none;
            color: $color-white;
            transition-duration: .25s;

            &:hover {
                color: $color-primary-pink-dark;
            }
        }
    }
}

.navigation.sticky {
  background-color: #d0879fdb;
  color: #fff; 
}