.reservation {
    grid-column: center-start / center-end;
    margin-bottom: 12rem;

    @media only screen and (max-width: $bp-largest) {
        margin-bottom: 0;
    }

    @media only screen and (max-width: 650px) {
        margin-top: 6rem;
    }
}