%heading {
    font-family: $font-display;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-grey-light-1;
    line-height: 1;
}
.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic; 
    line-height: 1;

    &--light { color: $color-grey-light-1 }
    &--dark { color: $color-grey-dark-1 }
}
.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    color: $color-primary;
    text-transform: uppercase;
}
.heading-4 {
    @extend %heading;
    font-size: 2.1rem;

    &--light { color: $color-grey-light-1 }
    &--dark { color: $color-grey-dark-1 }
}

.btn {
    background-color: $color-primary-pink-dark;
    color: $color-white;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    cursor: pointer;
    transition: all .2s;
    width: 40%;
    text-align: center;

    &--pink {
        font-weight: 700;
    }

    &:hover {
        background-color: $color-primary-dark;
    }
}

.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }

.svg-wave {
    position: absolute;
    bottom: -20rem;

    @media only screen and (max-width: $bp-largest) {
        bottom: -22rem;
    }

    @media only screen and (max-width: $bp-medium) {
        bottom: -16rem;
    }

    @media only screen and (max-width: $bp-small) {
        bottom: -9rem;
        left: 0;
    }
}

.background-image {
    grid-column: full-start / full-end;
    position: relative;

    @media only screen and (max-width: $bp-large) {
        margin: 0;
    }

    @media only screen and (max-width: $bp-small) {
        margin-bottom: 4rem;
    }

    img {
        object-fit: cover;
        height: 500px;
        width: 100%;
    }

    &--text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-grey-light-1;
        backdrop-filter: blur(3px);
        padding: 4rem;
        border-radius: 7px;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            width: 100%;
        }

        h3 { font-size: 3.5rem;}
        p { font-size: 4rem;}
    }

}